* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F5F5F5;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 35px 12%;
    background-color: #639f38;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #F5F5F5;
    font-weight: 600;
}

span {
    color: #154b6b;
    font-weight: 600;
}

.animated-text {
    display: inline-block;
    margin-right: 40%;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.animated-text.show {
    opacity: 1;
}

.animated-text.hide {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.startGame {
    position: absolute;
    top: 50%; 
    right: 80px; 
    transform: translateY(-50%);
    padding: 10px 28px;
    background-color: #154b6b;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: auto;
}

.startGame:hover {
    box-shadow: 0 0 25px #154b6b;
}

#map {
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
}

#questionCard {
    position: absolute;
    top: 20%;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#gameInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

#gameInfo span {
    font-size: 0.9rem;
    font-weight: bold;
}

#questionContent {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

#howToPlay {
    color:#154b6b;
}

#submitAnswer {
    padding: 10px 15px;
    background-color: #639f38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#submitAnswer:hover {
    box-shadow: 0 0 25px #154b6b;
}

#questionCard {
    position: absolute;
    top: 75%;
    left: 50px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 350px;
    border-radius: 10px;
}

#gameInstructions {
    position: fixed;
    top: 10%;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px;
    border-radius: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
}

#gameInstructions h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#passQuestion {
    background-color: #154b6b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#passQuestion:hover {
    box-shadow: 0 0 25px #154b6b;
}

#passQuestion.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
